{% extends 'base.html' %}

{% block content%}

<div class="rounded bg-white max-w-md rounded overflow-hidden shadow-xl p-5">

    <form action="" method="POST">
        {% csrf_token %}
        <h2 class="font-semibold  pb-2">Password reset</h2>
        <p class="pb-3">Forgotten your password? Enter your email address below, and we’ll email instructions for
            setting a new one. </p>
        <div class="justify-items-center">
            <input type="email" name="email" class="border rounded p-2" id="" placeholder="Enter Email : ">
            <input type="submit" value="Reset Password" class="border rounded p-2 bg-red-400">
        </div>
    </form>
</div>

{% endblock %}