{%extends 'base.html'%}
{% block title%}
Book Store
{% endblock %}
{% block content%}
<div>
    <h1 class="text-center text-3xl font-bold ">
        Programing Books
    </h1>
    <div class="grid grid-cols-4 gap-4 mt-10">

        {%for book in book_list%}
        <div class="rounded bg-white-400 max-w-md rounded overflow-hidden shadow-xl p-5 hover:bg-blue-400">
            <a class="justify-self-center text-center my-4" href="{% url 'book.show' book.id%}" >
                <div class="flex justify-center">
                    <img src="{{book.thumbnailUrl}}" width="100" />
                </div>
                <p>
                    {{book.title}}
                </p>
            </a>
        </div>
        {%endfor%}

    </div>
</div>
{% endblock %}