<! =DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UFT-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width = device-width,initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Django Project</title>
  </head>
  <body>
    <section class="py-10">
      <h1 class="text-center text-3xl">Programing Books App</h1>

      <div class= "grid grid-cols-4 gap-4 mt-10">

        {%for book in books%}
        
          <div class ="flex justify center">
            <img src="{{book.thumbnailUrl}}" width="100" />
          <div>
          <p>{{book.id}} - {{book.title}}</p>

        {%endfor%}
      </div>
      
    </section>
  </body>
</html>
