<!-- =DOCTYPE html-->
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="IE-edge" http-equiv="X-UA-Compatible"/>
        <meta content="width = device-width,initial-scale=1.0" name="viewport"/>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"/>
        <title>
            Django Sample Project
        </title>
    </head>
    <body class="bg-gradient-to-r from-gray-200 via-gray-400 to-gray-600">
        <section class="py-10">
            <h1 class="text-center text-3xl font-bold">
                {{book.title}}
            </h1>
            <div class="align-left justify-between">
                <div>
                    <img class="p-4 " src="{{book.thumbnailUrl}}" width="200">
                    </img>
                </div>
                <div>
                    <p>
                        <b>
                            Page count :
                        </b>
                        {{book.pageCount}}
                    </p>
                    <p>
                        <b>
                            Book categories :
                        </b>
                        {{book.categories}}
                    </p>
                    <p>
                        <b>
                            Book shortDescription :
                        </b>
                        {{book.longDescription}}
                    </p>
                </div>
            </div>
        </section>
    </body>
</html>
